{% extends "layouts/application.html" %}
{% block title %}
    Hackathons
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-offset-2">
            <div class="page-header">
                <h1>Hackathons</h1>
            </div>
            {% for hackathon in hackathons %}
                <div class="col-md-4">
                    <img src="{{ hackathon.cover_image_url }}" class="img-responsive"/>
                    <a href="/hackathons/{{ hackathon.id }}">
                        <img src="{{ hackathon.logo_url }}" class="img-thumbnail"/>
                        <h2>
                            {{ hackathon.name }}
                            <small>
                                {{ hackathon.start_date | datetimeformat }} -
                                {{ hackathon.end_date | datetimeformat }}
                            </small>
                            <br>

                        </h2>


                    </a>
                    <span class="distance">Distance: {{ hackathon.distance }}</span>
                    </br>
                        <span>Friends going</span>
                        <ol>
                        {% for friend in hackathon.friends %}
                            {{ friend }}

                            {% endfor %}
                            </ol>
                </br>
                {% if hackathon.registered %}
                    REGISTERED
                {% endif %}
                {% if not hackathon.registered %}
                    NOT REGISTERED
                {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}