<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ user.name }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">#}
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-social.css') }}"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <h1>
                    {{ user.name }}
                    <small>{{ user.email }}</small>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2">
                <div class="col-md-4">
                    <h2>Friends</h2>
                    <ul>
                        {% for friend in friends %}
                            <li><a href="/users/{{ friend.id }}">
                                {{ friend.name }}
                            </a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2>Hackathons</h2>
                    <ul>
                        {% for hackathon in hackathons_attended %}
                            <li><a href="/hackathons/{{ hackathon.id }}">
                                {{ hackathon.name }}
                            </a></li>
                        {% endfor %}
                    </ul>
                    <a href=""
                </div>
            </div>
        </div>
        {% if teams %}
            <div class="row">
                <div class="col-md-offset-2">
                    <h2>Teams</h2>
                    {% for team in teams %}
                        <div class="col-md-4">
                            <a href="/teams/{{ team.id }}">
                                <h3>{{ team.name }}</h3>
                            </a>
                            <ul>
                                {% for member in team.members %}
                                    <li>
                                        <a href="/users/{{ member.id }}">
                                            {{ member.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</body>
</html>